body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1E1E1E;
    font-family: Arial, sans-serif;
    color: #D4D4D4;
    flex-direction: column;
    font-weight: bold; /* Add this line to make the text thicker */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    font-size: 20px; /* Increase the font size to match the submit button */
    text-transform: uppercase; /* Make the text uppercase */
}

#loginForm, #signupForm {
    display: none;
    margin-top: 20px; /* Increase the top margin */
}

#loginForm input, #signupForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    font-size: 16px;
    width: 200px; /* Set a specific width for the input fields */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#submitLogin, #submitSignup {
    margin-top: auto;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #28a745;
    cursor: pointer;
    font-size: 20px; /* Increase the font size */
    display: block;
    width: 405px; /* Set the width of the submit button to match the input fields */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#pageTitle {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#createKey {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}